# ========================================

# Import Dependencies

# ========================================

In [1]:
##################################################################################################
#                            Miscellaneous Operating System Interfaces
##################################################################################################
import os
##################################################################################################
#                       Data Structure and Manipulation (Arrays & Dataframes)
##################################################################################################
import numpy as np
import pandas as pd
##################################################################################################
#                                     Data Visualization
##################################################################################################
import seaborn as sns
import matplotlib.pyplot as plt
##################################################################################################
#                                    Statistics Libraries
##################################################################################################
import statistics
import scipy

# ========================================

# File Paths Used in the Notebook

# ========================================

In [2]:
# Format the Input File Path for the Appropriate Operating System
Resources_file_path = os.path.join("Resources", "Data")
Resources_file_path

'Resources/Data'

# ========================================

# Step 1 - Import Student Data

# ========================================

In [3]:
# CSV File Name
student_grade_prediction_csv_file_name = "Student_Grade_Prediction_Data.csv"

In [4]:
# Combine the File Path and the File Name for the Appropriate Operating System
student_grade_prediction_csv_file_path = os.path.join(Resources_file_path, student_grade_prediction_csv_file_name)
student_grade_prediction_csv_file_path

'Resources/Data/Student_Grade_Prediction_Data.csv'

In [5]:
# Read in the CSV File as a Dataframe
student_grade_prediction_df = pd.read_csv(student_grade_prediction_csv_file_path)

student_grade_prediction_df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

# ========================================

# Step 2 - Check Data for Nulls

# ========================================

In [6]:
# Check the Dataframe for Null Values
student_grade_prediction_df_check_nan = student_grade_prediction_df.isnull().values.any()

if student_grade_prediction_df_check_nan == True:
    print("The Dataframe has Null Values!!!!!")
#     student_grade_prediction_df_check_nan = student_grade_prediction_df['API'].isnull().sum()
#     print(f"There are {heart_df_count_nan} null values in the dataframe.")

# ========================================

# Step 3 - Evaluate the Column Headers and Their Data Types

# ========================================

In [7]:
# Column Headers

student_grade_prediction_df.keys()

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [8]:
# Column Headers and Their Data Types

# Reference:
#     - Convert a Series to a Dataframe
#         - https://pandas.pydata.org/docs/reference/api/pandas.Series.to_frame.html

student_grade_prediction_dtypes_df = student_grade_prediction_df.dtypes.to_frame().reset_index()
student_grade_prediction_dtypes_df = student_grade_prediction_dtypes_df.rename(columns={"index": "Column_Headers", 0: "dtype"})

print(type(student_grade_prediction_dtypes_df))
student_grade_prediction_dtypes_df

<class 'pandas.core.frame.DataFrame'>

   Column_Headers   dtype
0          school  object
1             sex  object
2             age   int64
3         address  object
4         famsize  object
5         Pstatus  object
6            Medu   int64
7            Fedu   int64
8            Mjob  object
9            Fjob  object
10         reason  object
11       guardian  object
12     traveltime   int64
13      studytime   int64
14       failures   int64
15      schoolsup  object
16         famsup  object
17           paid  object
18     activities  object
19        nursery  object
20         higher  object
21       internet  object
22       romantic  object
23         famrel   int64
24       freetime   int64
25          goout   int64
26           Dalc   int64
27           Walc   int64
28         health   int64
29       absences   int64
30             G1   int64
31             G2   int64
32             G3   int64

## Step 3.1 Column Header Details

school - binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira

sex - binary: 'F' - female or 'M' - male

age - numeric: from 15 to 22

address - student's home address type (binary: 'U' - urban or 'R' - rural)

famsize - binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3

Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)

Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary

Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 â€“ 5th to 9th grade, 3 â€“ secondary

Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or

Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or

reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')

guardian - student's guardian (nominal: 'mother', 'father' or 'other')

traveltime - home to school travel time (numeric: 1 - &lt;15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - &gt;1 hour)

studytime - weekly study time (numeric: 1 - &lt;2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - &gt;10 hours)

failures - number of past class failures (numeric: n if 1&lt;=n&lt;3, else 4)

schoolsup - extra educational support (binary: yes or no) 

famsup - family educational support (binary: yes or no)

paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)

activities - extra-curricular activities (binary: yes or no)

nursery - attended nursery school (binary: yes or no)

higher - wants to take higher education (binary: yes or no)

internet - Internet access at home (binary: yes or no)

romantic - with a romantic relationship (binary: yes or no)

famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)

freetime - free time after school (numeric: from 1 - very low to 5 - very high)

goout - going out with friends (numeric: from 1 - very low to 5 - very high)

Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)

Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)

health - current health status (numeric: from 1 - very bad to 5 - very good)

absences - number of school absences (numeric: from 0 to 93)

G1 - first period grade (numeric: from 0 to 20)

G2 - second period grade (numeric: from 0 to 20)

G3 - final grade (numeric: from 0 to 20)

# ========================================

# Step 4 - Check the Statistics of the Data

# ========================================

# Step 4.1 - Intial Statistics Using Pandas Describe Function

In [11]:
# Reference:
#     - Pandas Describe
#         - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

# percentile list
perc =[.20, .40, .60, .80]

# list of dtypes to include
include =['object', 'float', 'int']

student_grade_prediction_df.describe(percentiles = perc, include = include)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395,395,395.000000,395,395,395,395.000000,395.000000,395,395,...,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
unique,2,2,NaN,2,2,2,NaN,NaN,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,GP,F,NaN,U,GT3,T,NaN,NaN,other,other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,349,208,NaN,307,281,354,NaN,NaN,141,217,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,16.696203,NaN,NaN,NaN,2.749367,2.521519,NaN,NaN,...,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,NaN,NaN,1.276043,NaN,NaN,NaN,1.094735,1.088201,NaN,NaN,...,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,NaN,NaN,15.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
20%,NaN,NaN,15.000000,NaN,NaN,NaN,2.000000,1.000000,NaN,NaN,...,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,0.000000,8.000000,8.000000,8.000000
40%,NaN,NaN,16.000000,NaN,NaN,NaN,2.000000,2.000000,NaN,NaN,...,4.000000,3.000000,3.000000,1.000000,2.000000,3.000000,2.000000,10.000000,10.000000,10.000000
50%,NaN,NaN,17.000000,NaN,NaN,NaN,3.000000,2.000000,NaN,NaN,...,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
60%,NaN,NaN,17.000000,NaN,NaN,NaN,3.000000,3.000000,NaN,NaN,...,4.000000,3.000000,3.000000,1.000000,3.000000,4.000000,4.000000,12.000000,12.000000,12.000000
80%,NaN,NaN,18.000000,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN,...,5.000000,4.000000,4.000000,2.000000,3.200000,5.000000,10.000000,14.000000,14.000000,14.000000
max,NaN,NaN,22.000000,NaN,NaN,NaN,4.000000,4.000000,NaN,NaN,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

# Step 4.1.1 - Observations from the intial Statistics

1) Schools:
    - 88.3544304% from 'GP' - Gabriel Pereira
2) Sex:
    -

In [ ]:


for dtype_indx in student_grade_prediction_dtypes_df.index:
#     print(dtype_indx)

    if student_grade_prediction_dtypes_df["dtype"][dtype_indx] == "int64":
#         print(student_grade_prediction_dtypes_df["Column_Headers"][dtype_indx])
#         print(student_grade_prediction_dtypes_df["dtype"][dtype_indx])

        clmn_hdrs_nm = student_grade_prediction_dtypes_df["Column_Headers"][dtype_indx]
     
        print(f"{clmn_hdrs_nm} Mean: {statistics.mean(student_grade_prediction_df[clmn_hdrs_nm])}")
        print(f"{clmn_hdrs_nm} Median: {statistics.median(student_grade_prediction_df[clmn_hdrs_nm])}")
        print(f"{clmn_hdrs_nm} Mode: {statistics.mode(student_grade_prediction_df[clmn_hdrs_nm])}")
        print(f"{clmn_hdrs_nm} Variance: {statistics.variance(student_grade_prediction_df[clmn_hdrs_nm])}")
        
        zscore_ndarray =  scipy.stats.zscore(student_grade_prediction_df[clmn_hdrs_nm])
        zscore_df = pd.DataFrame(zscore_ndarray)
#         print(f"{clmn_hdrs_nm} Z-Score: {type(scipy.stats.zscore(student_grade_prediction_df[clmn_hdrs_nm]))}")

#         ax = student_grade_prediction_df.plot(x = clmn_hdrs_nm, y = ""

        print("----------------------------------------------------")

In [ ]:
zscore_df.groupby([0]).count()

In [ ]:
print(f"Age Median: {statistics.median(student_grade_prediction_df['age'])}")
print(f"Age Mode: {statistics.mode(student_grade_prediction_df['age'])}")
print("----------------------------------------------------")
print(f"Age Median: {statistics.median(student_grade_prediction_df['age'])}")
print(f"Age Mode: {statistics.mode(student_grade_prediction_df['age'])}")
print("----------------------------------------------------")
print(f"Age Median: {statistics.median(student_grade_prediction_df['age'])}")
print(f"Age Mode: {statistics.mode(student_grade_prediction_df['age'])}")
print("----------------------------------------------------")
print(f"Age Median: {statistics.median(student_grade_prediction_df['age'])}")
print(f"Age Mode: {statistics.mode(student_grade_prediction_df['age'])}")
print("----------------------------------------------------")

# ========================================

# Step 3 - Manipulate the Data for Plots

# ========================================

# ========================================

# Step 3 - Plots the Data

# ========================================

In [ ]:
sns.pairplot(data = student_grade_prediction_df)

In [ ]:
heart_seaborn = sns.load_dataset("tips")
heart_seaborn.head()

sns.pairplot(data = heart_seaborn, diag_kind = "kde", kind = "reg")

In [ ]:
sns.set_style("darkgrid")

# Create the Default Pairplot
sns.pairplot(data = heart_df, hue = "sex", kind = "reg", vars = ["age", "thalachh"])
plt.show()